<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Info</h5>
                <p>
                    Hi, my name's Luigi Seminara. I'm a student and I'm studying Information Technology at the
                    University of Catania.<br>
                    In this page you can find a little example of how you can use the Monte Carlo Method.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/Gigi-G" target="_blank" class="text-dark">My GitHub page</a>
                    </li>
                    <li>
                        <a href="https://telegram.me/Gigii_G" target="_blank" class="text-dark">Telegram</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Gigii_Gii" target="_blank" class="text-dark">Twitter</a>
                    </li>
                    <li>
                        <a href="mailto:seminara.luigi@gmail.com" target="_blank" class="text-dark">Email</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
