<a id="Example"></a>
<br><br><br>
<h2>Example:</h2>
<p>
    At this point, we can take at look an real example.<br><br>
</p>
<div style="display: flex; align-items: center; flex-direction: column; width: auto; height: auto;">
    <img alt = "Lake Garda" id = "SourceImage" src = "assets/img/Lake Garda.png" style="width: 50%; height: auto;  border-style: solid;">
</div><br>
<p>
    This image shows (not perfectly) the Lake Garda at a height of 10 Km.<br>
    The real dimensions of the image, which are different from those of representation, are:
</p>
<ul>
    <li>width: 350px</li>
    <li>height: 514px</li>
</ul>
<p>
    The image was taken from the following link: <span><a href = "https://mapstyle.withgoogle.com/">https://mapstyle.withgoogle.com/</a></span>
</p>
<p>
    Now, we want to calculate the area of ​​the Lake Garda using the Monte Carlo method, so we need to generate X random dots within the image.
    The results of the areas will be displayed in a chart.
    We, also, use two colors to distinguish the dots:
</p>
<ul>
    <li><span style="color: red;">red</span> for earth dots;</li>
    <li><span style="color: black;">black</span> for lake dots.</li>
</ul>
<p>
    First of all, we try to calculate the lake area using only 100 dots.
</p>
<div *ngFor = "let content of contents; let i = index">
    <div *ngIf = "i == 0; else elseBlock">
        <div>
            <button type="button" class="btn btn-primary btn-block" (click)="exampleRun(100, i+1)">{{numberDots(100, i+1)}} dots wait after click</button><br>
            <div id = "D{{content}}" style="display: none; align-items: center; flex-direction: column; width: auto; height: auto;">
                <canvas id="Canvas{{content}}" class="video"></canvas><br>
                <div class="form-group row">
                    <label for="E{{content}}" class="col-sm-2 col-form-label">Earth dots:</label>
                    <div class="col-sm-10">
                        <input id = "E{{content}}" class="form-control" type="text" placeholder="None" readonly>
                    </div>
                    <label for="L{{content}}" class="col-sm-2 col-form-label">Lake dots:</label>
                    <div class="col-sm-10">
                        <input id = "L{{content}}" class="form-control" type="text" placeholder="None" readonly>
                    </div>
                    <label for="A{{content}}" class="col-sm-2 col-form-label">Lake area:</label>
                    <div class="col-sm-10">
                        <input id = "A{{content}}" class="form-control" type="text" placeholder="None" readonly>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
    <ng-template #elseBlock>
        <div id = "C{{content}}" style = "display: none;">
            <button type="button" class="btn btn-primary btn-block" (click)="exampleRun(100, i+1)">{{numberDots(100, i+1)}} dots wait after click</button><br>
            <div id = "D{{content}}" style="display: none; align-items: center; flex-direction: column; width: auto; height: auto;">
                <canvas id="Canvas{{content}}" class="video"></canvas><br>
                <div class="form-group row">
                    <label for="E{{content}}" class="col-sm-2 col-form-label">Earth dots:</label>
                    <div class="col-sm-10">
                        <input id = "E{{content}}" class="form-control" type="text" placeholder="None" readonly>
                    </div>
                    <label for="L{{content}}" class="col-sm-2 col-form-label">Lake dots:</label>
                    <div class="col-sm-10">
                        <input id = "L{{content}}" class="form-control" type="text" placeholder="None" readonly>
                    </div>
                    <label for="A{{content}}" class="col-sm-2 col-form-label">Lake area:</label>
                    <div class="col-sm-10">
                        <input id = "A{{content}}" class="form-control" type="text" placeholder="None" readonly>
                    </div>
                </div>
            </div><br>
        </div>
    </ng-template>
</div><br><br>
<div id = "C8" style = "display: none;">
    <p>
        We can find on Internet that the area of the Lake Garda is <span style = "color: black;">370 km<sup>2</sup></span>.
    </p>
</div>
<app-line-chart id = "chart"></app-line-chart><br><br>
<div id = "C9" style = "display: none;">
    <h2>Conclusion:</h2>
    <p>
        From the chart we can see that when the number of dots increase the estimated result is more similar to the real one.
    </p>
    <p>
        I also remind you that the image is taken from Google Maps, so it's not perfect!
    </p>
</div>
